* {
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
}

header {
    max-height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.wrapper {
    max-width: 100%;
}

.separator {
    display: flex;
}

#time {
    width: 8%;
    height: 50px; 
    resize: none; 
    text-align: center; 
    font-size: 20px; 
    border: 2px dashed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: lightpink;
}

#user-input1, #user-input2,
#user-input3, #user-input4,
#user-input5, #user-input6,
#user-input7, #user-input8,
#user-input9, #user-input10 {
    width: 85%; 
    height: 50px; 
    resize: none;
    border-width: 2px;
    background-color: white;
}

#submit-button {
    width: 7%; 
    height: 54px; 
    resize: none;
    border-width: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}