* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(109, 236, 109), rgb(117, 191, 216));
}

header {
    max-height: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background: linear-gradient(rgb(117, 191, 216), rgb(109, 236, 109));
}


.wrapper {
    max-width: 100%;
}

.separator {
    display: flex;
}

#time {
    width: 8%;
    height: 50px; 
    resize: none; 
    text-align: center; 
    font-size: 20px; 
    border: 2px dashed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: linear-gradient(rgb(99, 176, 201), rgb(81, 199, 81));
}

#user-input1, #user-input2,
#user-input3, #user-input4,
#user-input5, #user-input6,
#user-input7, #user-input8,
#user-input9, #user-input10 {
    width: 85%; 
    height: 50px; 
    resize: none;
    border-width: 2px;
    background-color: white;
}

#submit-button {
    width: 7%; 
    height: 54px; 
    resize: none;
    border-width: 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(rgb(64, 167, 201), rgb(81, 199, 81));
}